@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.colorful-section-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: $teal;

  &__substring {
    font-family: inherit;
    &--white {
      color: $white;
    }

    &--teal {
      color: $font-secondary;
    }
  }
}
