@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.upcoming-movies {
  position: relative;

  &__image-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(transparent, $primary-color);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__content-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__title {
    margin: 0;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(28, 50, 59, 0.9);
    letter-spacing: 0.1rem;
  }

  &__text {
    .genres > li {
      border: none;
      font-family: "Rajdhani", sans-serif;
    }
  }

  &__link {
    transition: color 0.15s ease-in-out;

    &:hover {
      color: lighten($font-secondary, 10);
    }
  }
}

@include small-tablet {
  .upcoming-movies {
    &__title {
      font-size: 2rem;
    }
  }
}

@include mobile {
  .upcoming-movies {
    &__title {
      font-size: 1.5rem;
    }
  }
}
