@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.more-less-btn {
  position: relative;
  padding: 0.5rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 2px;
  color: $font-secondary;
  background: transparent;
  border: none;
  cursor: pointer;

  &__inner {
    font-family: inherit;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}

@include for-desktop {
  .more-less-btn {
    &:hover {
      .more-less-btn__icon {
        opacity: 1;

        &--down {
          transform: translate(-50%, 0.5rem);
        }

        &--up {
          transform: translate(-50%, -2.25rem);
        }
      }
    }
  }
}

@include tablet {
  .more-less-btn {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border: 1px solid $font-secondary;
    border-radius: 1rem;

    .more-less-btn__icon {
      font-size: 2rem;
    }

    &--opened {
      padding-top: 1.5rem;

      .more-less-btn__icon {
        opacity: 1;

        &--up {
          transform: translate(-50%, -3.75rem);
        }
      }
    }

    &--closed {
      .more-less-btn__icon {
        opacity: 1;

        &--down {
          transform: translate(-50%, 2.5rem);
        }
      }
    }
  }
}

@include mobile {
  .more-less-btn {
    font-size: 1.25rem;

    .more-less-btn__icon {
      font-size: 1.5rem;
    }

    &--opened {
      padding-top: 0.5rem;
      .more-less-btn__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .more-less-btn__icon {
        position: static;
        opacity: 1;

        &--up {
          transform: translate(0);
        }
      }
    }
  }
}

@include small-mobile {
  .more-less-btn {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    &__icon {
      position: static;
      transform: translate(0);
    }

    &--opened {
      padding-top: 0.5rem;
      .more-less-btn__icon {
        &--up {
          transform: translate(0);
        }
      }
    }

    &--closed {
      .more-less-btn__icon {
        &--down {
          transform: translate(0);
        }
      }
    }
  }
}
