@import "./normalize.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import "@fontsource/noto-sans/300.css";
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/500.css";
@import "@fontsource/noto-sans/700.css";
@import "@fontsource/rajdhani/300.css";
@import "@fontsource/rajdhani/400.css";
@import "@fontsource/rajdhani/500.css";
@import "@fontsource/rajdhani/600.css";
@import "@fontsource/rajdhani/700.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: $font-primary;
  background-color: $primary-color;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1150px;
}

.btn-reset {
  border: none;
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@include small-mobile {
  .container {
    padding: 0 10px;
  }
}
